body {
  font-family: Cormorant, serif;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.links {
  display: inline-block;
}
.links ul {
  padding: 0;
}
.links li {
  display: inline-block;
}

.links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}
.navbar {
  margin: 32px;
}

.links a.active {
  border-bottom: black 1px solid;
}
.gallery {
  padding: 16px;
}

.card {
  width: 49.76%;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
}

.card img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.card img:hover {
  opacity: 0.85;
}

.card h2 {
  font-weight: 300;
  display: inline-block;
  margin: 8px 0 8px 0;
}

.about-me h3 {
  font-size: 40px;
  font-weight: 300;
}

.about-me {
  width: 40%;
  min-width: 500px;
  margin: 100px 0 100px 140px;
}

.contact {
  margin-top: 100px;
}

.contact p {
  margin: 0;
  font-size: 18px;
}

.call-to-action {
  display: inline-block;
  padding: 3px;
  border-bottom: 1px black solid;
  margin-top: 0;
}

@media only screen and (max-width: 1006px) {
  .card {
    width: 100%;
  }
  .about-me {
    margin: 100px 0 100px 100px;
  }
}
@media only screen and (max-width: 700px) {
  .card {
    padding: 0;
  }
  .gallery {
    padding: 8px;
  }
  .about-me {
    min-width: 400px;
    margin: 40px auto;
  }
}
