body {
  font-family: Cormorant, serif;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.links {
  display: inline-block;
}
.links ul {
  padding: 0;
}
.links li {
  display: inline-block;
}

.links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}
.navbar {
  margin: 32px;
}

.links a.active {
  border-bottom: black 1px solid;
}
.gallery {
  padding: 16px;
}

.card {
  width: 49.76%;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
}

.card img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.card h2 {
  font-weight: 300;
  display: inline-block;
  margin: 8px 0 8px 0;
}
